* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}
.title {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 10px;
  color: #04843b;
}
#greenCube {
  height: 30px;
  width: 50px;
  background-color: #04843b;
  color: #04843b;
}
